<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <meta charset='UTF-8'></meta>
  </head>
  <body>
    <%- include('navbar') %>
    <h1><%= genre.name %></h1>
    <h4>Books</h4>
    <dl>
        <% for (var i = 0; i < genre_books.length; i++) {%>
            <dt>
                <a href= <%= genre_books[i].url %> >
                <%= genre_books[i].title %>
                </a>
            </dt>
            <dd>
                <%= genre_books[i].summary %>
            </dd>
        <% } %>
    </dl>
  </body>
</html>

