<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <meta charset='UTF-8'></meta>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
    <%- include('navbar') %>
    <h2>Records</h2>
    <ul>
	<li>Books: <%= data.book_count %></li>
	<li>Copies: <%= data.book_instance_count %></li>
	<li>Copies available: <%= data.book_instance_available_count %></li>
	<li>Authors: <%= data.author_count %></li>
	<li>Genres: <%= data.genre_count %></li>
    </ul>
  </body>
</html>
